.cards {
    width: 920px;
    display: grid;
    grid-template-columns: repeat(3, 240px);
    grid-column-gap: 100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    */
}